/*-- scss:defaults --*/
$h2-font-size: 1.6rem !default;
$headings-font-weight: 500 !default;
$link-color: rgb(21, 101, 192) !default;
$code-bg: rgba(27,31,35,.05) !default;
$code-color: rgb(25, 30, 30) !default;

/*-- scss:rules --*/
h1, h2 {
    margin-top: 1.8rem !important;
    padding-top: 1.3rem !important;
}

h3, h4, h5, h6 {
    margin-top: 1.2rem !important;
    padding-top: 1rem !important;
}

.header-section-number {
    color: rgb(25, 30, 30) !important;
}
  
